html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #1b1b1b;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}
